* {
  font-family: "Verdana";
  padding: 0px;
  margin: 0px;
}

h1 {
  width: 100%;
  text-align: center;
}

header {
  background: rgb(25, 25, 25);
  color: gold;
  padding: 10px 0px;
}

.movie-comp-container {
  width: 100%;
  background: purple;
  padding: 10px 0px;
  min-height: 100vh;
  color: gold;
}

.movies-container {
  width: 60%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
}

.movie {
  animation: Opac 0.5s;
  width: 240px;
  height: 340px;
  margin: 10px 0px;
  padding: 10px 0px;
  background: gold;
  border-radius: 12px;
}

.movie-poster-container {
  margin: 10px 0px 0px;
  text-align: center;
}

.movie-details {
  margin: 5px 0px;
  background: black;
  text-align: center;
  padding: 5px;
}

@media (min-width: 320px) and (max-width: 599px) {
  .movies-container {
    grid-template-columns: 1fr;
    padding: 0px;
    width: 100%;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .movies-container {
    grid-template-columns: 1fr 1fr;
    width: 90%;
  }
}

@keyframes Opac {
  0% {
    transform: scale(1.1, 1.1);
    opacity: 0;
  }

  50% {
    transform: scale(0.95, 0.95);
  }

  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
